.h2Text{
    font-size: 19px;
    font-weight: bold;
}
ion-avatar{
    border: 1px solid #21cdc1;
    width: 70px;
    height: 70px;
}
.bookButton{
    text-align: right;
    color: #ffffff;
    --background: #21cdc1;
    --border: 1px solid #21cdc1;
}
.specilist{
    color: #21cdc0;
  } 