<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Available doctors
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/logo.png">
      </ion-avatar>
      <ion-label class="text-wrap">
        <h2 class="ion-text-wrap h2Text">Dr. Ashish Kumar Chaurasiya</h2>
        <h3 class="ion-text-wrap">Senior Dr. at Delamnt (Pediatrics)</h3>
        <p class="ion-text-wrap">MBBS,MD,MS(US)</p>
        <ion-button expand="round" class="bookButton">Book Appointment</ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/logo.png">
      </ion-avatar>
      <ion-label class="text-wrap">
        <h2 class="ion-text-wrap h2Text">Dr. Ashish Kumar Chaurasiya</h2>
        <h3 class="ion-text-wrap">Senior Dr. at Delamnt (Pediatrics)</h3>
        <p class="ion-text-wrap">MBBS,MD,MS(US)</p>
       <ion-button expand="round" class="bookButton">Book Appointment</ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/logo.png">
      </ion-avatar>
      <ion-label class="text-wrap">
        <h2 class="ion-text-wrap h2Text">Dr. Ashish Kumar Chaurasiya</h2>
        <h3 class="ion-text-wrap">Senior Dr. at Delamnt (Pediatrics)</h3>
        <p class="ion-text-wrap">MBBS,MD,MS(US)</p>
        <ion-button expand="round" class="bookButton">Book Appointment</ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/logo.png">
      </ion-avatar>
      <ion-label class="text-wrap">
        <h2 class="ion-text-wrap h2Text">Dr. Ashish Kumar Chaurasiya</h2>
        <h3 class="ion-text-wrap">Senior Dr. at Delamnt (Pediatrics)</h3>
        <p class="ion-text-wrap">MBBS,MD,MS(US)</p>
        <ion-button expand="round" class="bookButton">Book Appointment</ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/logo.png">
      </ion-avatar>
      <ion-label class="text-wrap">
        <h2 class="ion-text-wrap h2Text">Dr. Ashish Kumar Chaurasiya</h2>
        <h3 class="ion-text-wrap">Senior Dr. at Delamnt (Pediatrics)</h3>
        <p class="ion-text-wrap">MBBS,MD,MS(US)</p>
        <ion-button expand="round" class="bookButton">Book Appointment</ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/logo.png">
      </ion-avatar>
      <ion-label class="text-wrap">
        <h2 class="ion-text-wrap h2Text">Dr. Ashish Kumar Chaurasiya</h2>
        <h3 class="ion-text-wrap">Senior Dr. at Delamnt (Pediatrics)</h3>
        <p class="ion-text-wrap">MBBS,MD,MS(US)</p>
        <ion-button expand="round" class="bookButton">Book Appointment</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button class="home" (click)="homeClick()">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button class="specilist" (click)='specilist()'>
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Specilist</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="hospitals()" class="hospitals">
          <ion-icon name="storefront-outline"></ion-icon>
          <ion-label>Hospitals</ion-label>
        </ion-tab-button>
        <ion-tab-button class="clinics" (click)="clinics()">
          <ion-icon name="thermometer-outline"></ion-icon>
          <ion-label>Clinics</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>