
.lab-about-card{
    .lab-div-about{
        padding-left: 20px;
        margin-top: 15px;
        .about{
            font-weight: 600;
            // font-family: RobotoCondensed !important;
            color: #0e223e;
    opacity: 999;
    z-index: 11;
    font-size: 12px;
        }
        .about-details{
            font-weight: 600;
            // font-family: RobotoCondensed !important;
            color: #585858;
            margin-top: 10px;
        }
    }
}
.lab-booking-testing{
  background-image: url('../../../assets/homepage/Ultrasound.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #0e223e;
  opacity: 0.9;
  border: 1px solid grey;
  ion-list{
      background: none;
  }
  ion-item{
      --background: none;
  }
  .lab-test-price{
    --background: #169187;
    color: #0e223e;
    opacity: 999;
    font-family: RobotoCondensed !important;
  }
}
.ul-list{
    font-size: 10px;
    font-family: RobotoCondensed !important;
    li{
      color: #636363;
    opacity: 999;
    margin: 4px 0;
    }
}
.testing-details{
    .test-name{
    font-size: 12px;
    font-weight: 700;
    font-family: RobotoCondensed !important;
    }
    .test-count{
      font-size: 11px;
      font-weight: 500;
      color: var(--ion-color-step-600, #404241);
    }
}

.test-list-data{
    font-size: 10px;
    // font-family: RobotoCondensed !important;
li{
  color: #494e51;
}


}
.register-segment{
  background: #edefee;
  color: #0e223e;
  .when{
  border: 1px solid #e3e3e3;
  font-size: 10px;
  color: #0e223e;
    letter-spacing: 0px;
  }
  .where{
    background: white;
    --indicator-color: none;
    color: #0e223e;
    letter-spacing: 0px;
    border-bottom: 1px solid #e3e3e3;
  }
  .whom{
    border: 1px solid #e3e3e3;
    font-size: 10px;
    color: #0e223e;
    letter-spacing: 0px;
  }
}