ion-content{
      background: white;
    --background: white;
    ion-list{
          background: white;
        --background: white;
    }
    ion-item{
          background: white;
        --background: white;
    }
}