<ion-content>
  <div class="heading ion-padding">
    <img class="loginlogo" src="../../../assets/img/login/logo.jpg">
    <img class="img" src="../../../assets/img/login/signup_graphic_xhdpi.png">
  </div>
  <div class="login-form ion-padding" id="loginForm" style="padding-left: 0;background: white;">
    <div class="healthlefttext">
      <div class="form-input" id="form">
        <ion-item lines="none">
          <ion-input type="text" placeholder="Name"></ion-input>
        </ion-item>
      </div>
      <div class="form-input" id="form">
        <ion-item lines="none">
          <ion-input type="mail" placeholder="Email Id"></ion-input>
        </ion-item>
      </div>
      <div class="form-input" id="form">
        <ion-item lines="none">
          <ion-input type="call" placeholder="Phone No"></ion-input>
        </ion-item>
      </div>
      <div class="form-input" id="form">
        <ion-item lines="none">
          <ion-input type='text' placeholder="Password" #password> </ion-input>
          <!-- <ion-icon [name]="eyename"  slot="end" (click)="passToggle()" class="eyeIcon"></ion-icon> -->
        </ion-item>
      </div>
      <div>
        <ion-row class="roww">
          <ion-button size="large" class="ion-button" (click)="submit()">Register</ion-button>
          <ion-col class="signupbtn" (click)="logIn()">
            <p>Already Registered?<b> LOGIN</b></p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button class="home" (click)="home()">
          <img class="footrImg" src="../../assets/img/icons/home.png">
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button class="specilist" (click)='specilist()'>
          <img class="footrImg" src="../../assets/img/icons/specilist.png">
          <ion-label>Specilist</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="hospitals()" class="hospitals">
          <img class="footrImg" src="../../assets/img/icons/Hospitals.png">
          <ion-label>Hospitals</ion-label>
        </ion-tab-button>
        <ion-tab-button class="clinics" (click)="clinics()">
          <img class="footrImg" src="../../assets/img/icons/clinics.png">
          <ion-label>Clinics</ion-label>
        </ion-tab-button>
        <ion-tab-button class="labs" (click)="labss()">
          <img class="footrImg" src="../../assets/img/icons/lab.png">
          <ion-label>Labs</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>