.roomcard{
    width: 100%;
    height: 65px;
 }
 .roomCircleCard{
    width: 95px;
    height: 90px;
    border-radius: 50%;
    padding: 10%;
    margin: auto;
    margin-bottom: 10px;
    background: #21cdc0;
 }